In [61]:
import pandas as pd
df = pd.read_csv("C:/Users/vamsh/OneDrive/Desktop/MACHINE LEARNING/Naive Bayes/titanic (1).csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [62]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket','Cabin','Embarked'], axis='columns', inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [63]:
target = df.Survived
inputs = df.drop('Survived', axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [64]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [65]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [66]:
inputs.drop(['Sex'], axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [67]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [68]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female   male
0       3  22.000000   7.2500   False   True
1       1  38.000000  71.2833    True  False
2       3  26.000000   7.9250    True  False
3       1  35.000000  53.1000    True  False
4       3  35.000000   8.0500   False   True
5       3  29.699118   8.4583   False   True

In [80]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs, target, test_size=0.2)

In [81]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [82]:
model.fit(x_train, y_train)

GaussianNB()

In [83]:
model.score(x_test,y_test)

0.7430167597765364

In [86]:
x_test[:10]

     Pclass        Age     Fare  female   male
225       3  22.000000   9.3500   False   True
58        2   5.000000  27.7500    True  False
481       2  29.699118   0.0000   False   True
430       1  28.000000  26.5500   False   True
841       2  16.000000  10.5000   False   True
473       2  23.000000  13.7917    True  False
157       3  30.000000   8.0500   False   True
851       3  74.000000   7.7750   False   True
533       3  29.699118  22.3583    True  False
117       2  29.000000  21.0000   False   True

In [87]:
y_test[:10]

225    0
58     1
481    0
430    1
841    0
473    1
157    0
851    0
533    1
117    0
Name: Survived, dtype: int64

In [88]:
model.predict(x_test[:10])

array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0])

In [89]:
model.predict_proba(x_test[:10])

array([[0.99173302, 0.00826698],
       [0.01580894, 0.98419106],
       [0.98195038, 0.01804962],
       [0.9319866 , 0.0680134 ],
       [0.9782223 , 0.0217777 ],
       [0.0311052 , 0.9688948 ],
       [0.99257771, 0.00742229],
       [0.97431844, 0.02568156],
       [0.07274316, 0.92725684],
       [0.98286878, 0.01713122]])