In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/vamsh/OneDrive/Desktop/MACHINE LEARNING/Decision tree/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
drop_table = df.drop(['Ticket', 'Name', 'Cabin'], axis='columns')
drop_table

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,NaN,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [16]:
inputs = drop_table.drop(['Survived','PassengerId','SibSp', 'Parch'], axis='columns')
inputs

     Pclass     Sex   Age     Fare Embarked
0         3    male  22.0   7.2500        S
1         1  female  38.0  71.2833        C
2         3  female  26.0   7.9250        S
3         1  female  35.0  53.1000        S
4         3    male  35.0   8.0500        S
..      ...     ...   ...      ...      ...
886       2    male  27.0  13.0000        S
887       1  female  19.0  30.0000        S
888       3  female   NaN  23.4500        S
889       1    male  26.0  30.0000        C
890       3    male  32.0   7.7500        Q

[891 rows x 5 columns]

In [15]:
target = drop_table['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

inputs['sex_n'] = le_sex.fit_transform(inputs['Sex'])
inputs.head()

   Pclass     Sex   Age     Fare Embarked  Age_n  sex_n
0       3    male  22.0   7.2500        S     28      1
1       1  female  38.0  71.2833        C     51      0
2       3  female  26.0   7.9250        S     34      0
3       1  female  35.0  53.1000        S     47      0
4       3    male  35.0   8.0500        S     47      1

In [24]:
x = inputs.drop(['Sex','Age_n','Embarked'], axis='columns')
x

     Pclass   Age     Fare  sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3   NaN  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [27]:
median_age = x['Age'].median()
median_age

np.float64(28.0)

In [28]:
x['Age'].fillna(median_age, inplace=True)

C:\Users\vamsh\AppData\Local\Temp\ipykernel_2268\2044459068.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x['Age'].fillna(median_age, inplace=True)

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, target, test_size = 0.2, random_state=42)

In [41]:
print(f"x_train shape: {x_train.shape}")
print(f"x_test shape: {x_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

x_train shape: (712, 4)
x_test shape: (179, 4)
y_train shape: (712,)
y_test shape: (179,)

In [42]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [45]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [46]:
model.score(x_test, y_test)

0.7486033519553073

In [47]:
model.predict(x_test)

array([0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1])

In [48]:
y_test

709    1
439    0
840    0
720    1
39     1
      ..
433    0
773    0
25     1
84     1
10     1
Name: Survived, Length: 179, dtype: int64